*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/* Color Theme Swatches in Hex
.22:38-1-hex { color: #10454F; }
.22:38-2-hex { color: #506266; }
.22:38-3-hex { color: #818274; }
.22:38-4-hex { color: #A3AB78; }
.22:38-5-hex { color: #BDE038; } */

/* Color Theme Swatches in RGBA */
/* .22:38-1-rgba { color: rgba(16, 69, 79, 1); }
.22:38-2-rgba { color: rgba(79, 98, 102, 1); }
.22:38-3-rgba { color: rgba(128, 130, 116, 1); }
.22:38-4-rgba { color: rgba(163, 170, 119, 1); }
.22:38-5-rgba { color: rgba(189, 224, 55, 1); } */
body{
    background-color: #10454f;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 800px;
    margin: 10px auto;
    background-color: #BDE038;
    color: white;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
}

.header h1{
    color: #fff;
}

.header > a:visited {
    color: #fff;
}

.header > a:hover {
    color: #000;
}

table{
    width:800px;
    margin: 10px auto;
    border-collapse: collapse;
    text-align: left;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

thead > tr{
    text-align: center;
    background-color: #BDE038;
    color: white;
}

tr > th, tr > td{
    text-align: center;
    padding: 15px 20px;
}

tbody > tr:nth-last-of-type(even){
    background-color: rgba(0, 0, 0, 0.100);
}

tbody > tr:last-of-type{
    background-color: #BDE038;
}


.pagination{
    display: flex;
    width: 800px;
    margin: 5px auto;
    gap: 5px;
    justify-content: left;
}

.pagination > a{
    background-color: #BDE038;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
}

.pagination > a:hover{
    background-color: #506266;;
    color: #000;
}

h1{
    text-align: center;
    margin: 10px;
    color: #BDE038;
    padding: 20px 0;
}

form{
    width: 800px ;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-inputs > input{
    height: 2rem;
    padding: 0 2px;
}
.form-inputs > button{
    height: 2rem;
    padding: 0 2px;
}
.form-inputs > button:hover{
    background-color: #506266;;
    color: #fff;
    cursor: pointer;
}

.card{
    position: relative;
    max-width: 380px;
    padding: 85px 20px;
    width: 90%;
    margin: 70px auto;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}


.description{
    max-height: 200px;
    overflow-y: auto;
}

.info > p, .description{
    margin: 5px 0;
    border-bottom: 1.5px solid black;
    padding-bottom: 3px;
   
}



.profile{
    border-radius: 50%;
    overflow: hidden;
    width: 130px;
    height: 130px;
    position: absolute;
    top: -50px;
    box-shadow: 0 0 5px black;
}


.profile > img{
    width: 100%;
    height: 100%;

}

.btn{
    position: absolute;
    bottom: 40px;
    
}

.btn > a{
    background-color: red;
    padding: 15px 24px;
    color: white;
    border-radius: 12px;
    margin: 0 5px;
}

form > .form-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.btn > a:nth-child(2){
    background-color: #506266;;
}


.add-btn{
    width: 800px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    
}

.add-btn > a, .btn-filter > a{
    background-color: rgb(22, 162, 205);
    color: white;
    border-radius: 12px;
    padding: 12px 30px;
}

.btn-filter > a:nth-child(1){
    background-color: #ccff33;
}
.btn-filter > a:nth-child(2){
    background-color: tomato;
}

.btn-filter > a:hover{
    background-color: #506266;;
    color: #000;
    cursor: pointer;
}
.add-btn > a:hover{
    background-color: #506266;;
    color: #000;
    cursor: pointer;
}

.card_login form{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 100px 10px;
    margin: 10px auto;
    background-color: #BDE038;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    font-size: 20px;
}

.card_login > form > input, button{
    font-size: 20px;
    width: 80%;
    text-align: left;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 12px 0;
    border: 2px black solid;
   
}

.card_login form > button{
    text-align: center;
    
}

.card_login form > button:hover{
    background-color: #506266;;
    color: #fff;
    cursor: pointer;
}

.card_login form > h6{
    color: #fff;
    font-size: 20px;
}

.card_login form > i{
    width: 20% 100px;
    padding: 20px 0;
    font-size: 50px;
    color: #000;
}

.card_add > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 100px 10px;
    margin: 10px auto;
    background-color: #BDE038;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    font-size: 20px;
}

.card_add > form > button:hover{
    background-color: #506266;;
    color: #fff;
    cursor: pointer;
}

.card_add form > button{
    text-align: center;   
}

.card_add > form > i{
    width: 20% 100px;
    padding: 20px 0;
    font-size: 50px;
    color: #000;
}

.card_add > form > input, button{
    font-size: 20px;
    width: 80%;
    text-align: left;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 12px 0;
    border: 2px black solid;
}